{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

<div class="container">
  
<br>
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}

</div>

{% endblock fos_user_content %}


