{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="container " style="max-width: 45rem;">
<br>
<div class="card border-info mb-3" >
  <div class="card-header"> Récupérer le mot de passe . </div>
  <div class="card-body">
{% include "@FOSUser/Resetting/request_content.html.twig" %}

        </div>
    </div>
</div>
{% endblock fos_user_content %}
