a[href] {


    color: #000000;
  
  
  }

li{


    color: #000000;
  
  
  }
p, h1, h2, h3,h4, h5, h6,button, label  {


    color: #000000 !important;
  
  
  }

  
.nav-link, .navbar-brand{


  color: #000000 !important;


}